body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin: 0;
    padding: 30px;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 80%;
    padding: 4%;
}

.hire-style {
    background-image: linear-gradient(orange, salmon);
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 6px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}